@use 'variables' as *;
@use 'mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: $background-color;
  color: $text-color-main;
}

h1, h2, h3, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a, a:visited {
  text-decoration: none;
  color: $link-color;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
    text-decoration-color: $link-color;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.wrapper {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 min(1rem, 10px);
}

.content {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.header {
  background-color: $main-color;

  & .wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: space-between;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__logo {
    display: flex;
    padding: 6px 0;
    align-items: center;
    column-gap: 0.5rem;
  }

  &__logo-img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
  }
}

.menu {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;

  &__list {
    @include reset-list;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }

  &__item {
    font-size: 1.2rem;
  }

  &__link, &__link:visited {
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: $background-color;

    &:hover {
      color: $background-color;
      text-decoration-color: $text-color-main;
      text-underline-offset: 0.5rem;
    }
  }
}

.footer {
  margin-top: 1rem;
  background-color: $main-color;
  padding: 1rem;
  color: $background-color;
  &__made-by {
    @include wrapper;
    text-align: center;

    & a {
      color: #fff;
    }
  }
}