@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.hero {
  overflow: hidden; // make blur on edges prettier
  padding: 0;
  position: relative;

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(16px, 4rem, 10vw);
    white-space: nowrap;
    color: $background-color;
    z-index: 2;
  }

  &__image {
    filter: blur(2px) brightness(0.7);
    transform: scale(1.2); // make blur on edges prettier
    height: 15rem;
    width: 100%;
    object-position: center;
    object-fit: cover;
    animation: 1s ease-out hero-scale;
  }
}

@keyframes hero-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.about {
  @include wrapper;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
  line-height: 1.5;
  text-align: justify;
}

.features {
  @include wrapper;

  &__grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  &__item {
    background-color: $accent-color;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 3px 0 $shadow-color;
    font-style: italic;
    animation: 1s ease-in-out fadeIn;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: grayscale(100%);
  }
  100% {
    opacity: 1;
    filter: grayscale(0);
  }
}