@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.contacts {
  @include wrapper;
  min-height: 100%;
  display: grid;
  place-items: center;
  place-content: center;
  grid-template-columns: min(480px, 90vw);

  &__container {
    justify-self: stretch;
    padding: 1rem;
    border-radius: 4px;
    background-color: $accent-color;
    box-shadow: 0 2px 3px 0 $shadow-color;
  }

  &__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}